.dashboard-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    --justify-content: center;
    background-color: #1D1D20;
    color:white;
}

.search-bar {
    margin-top: 20px;
    align-self: center;
    text-align: center;
    width: 30%;
    background-color: darkgray;
    border-radius: 12px;
    padding: 10px
}

.dashboard-title {
    --background-color: grey;;
    margin-top: 20px;
    border-width: 1px;
    border-color: white;
    font-size: 23px;
    border-style: solid;
    padding: 20px;
    width: 30%;
    border-radius: 10px
}

.player-grid {
    margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 4 columns of equal width */
  --grid-template-rows: repeat(2, 1fr); /* Create 4 rows of equal height */
  gap: 10px;
  border-style: dotted;
  border-width: 1px;
  border-color: black;
  align-items: center;
  justify-content: center;
  place-items: center;
  
}

.player-content {
    display:flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
}

.player-card {
    display: flex;
    flex-direction: column;
    --backdrop-filter: blur(10px); /* Adjust the px value to control the blur intensity */
    background-color: rgba(169, 169, 169);    
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 12px;
    padding: 20px;
    padding-top: 25px;
    color:white;
    transition: transform 0.6s;
  transform-style: preserve-3d;
}

.player-overall-content {
    padding: 5px;
    font-size: 20px;
}

.player-overall-value {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color:black;
}

.player-position-content {
    padding: 5px;
    font-size: 20px;
}

.player-position-value {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color:darkgreen;
    border-radius: 50px;
    background-color: darkgreen;
}

.item-text {
    font-size: 20px;
}

.card-container {
    perspective: 1000px; /* Gives a 3D effect */
  }

  .player-card.flip {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side of the flip */
  }
  
  .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

body {
    background-color: #1D1D20;
}




