* {
  --background-color: #fff;
}
.dashboard-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    --justify-content: center;
    background-color: rgb(255, 255, 255);
    color:black;
}
.search-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 70px;
 
}

.logo-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  align-self: center;
}

.logo {
  height: 120px;
  align-self: center;
}

.logo-text {
  font-size: 80px;
  font-weight: 800;
  --padding-bottom: 10px;
  align-self: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-bar {
    margin-top: 20px;
    align-self: center;
    text-align: center;
    width: 30%;
    background-color: rgba(169, 169, 169, 0.2);
    border-width: 0;
    border-radius: 12px;
    padding: 10px;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    margin-right: 10px;
}
.header{
  display: flex;
  background-color: rgb(228, 228, 228);
  width: 50%;
  

}
.tagline{
  font-size: 30px;
  color: rgb(255, 83, 83);
  font-family: 'Poppins', sans-serif;
}


.search-bar:focus {
  outline: none; /* Optional: Removes the default focus outline */
}

.dashboard-title {
    display:  flex;
    color: black;
    margin-top: 20px;
    border-width: 0em;
    border-bottom-width: 0px;
    --border-color: black;
    font-size: 25px;
    border-style: solid;
    padding: 5px;
    width: 30%;
    font-weight: 600;
    align-self: center;
    text-align: center;
    justify-content: center;
}
.number {
  color:rgb(47, 25, 0);
  font-family: 'Poppins', sans-serif;
}
.player-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
   /* Create 4 rows of equal height */
  gap: 10px;
  border-width: 0px;
  
  align-items: center;
  justify-content: center;
  place-items: center;
  color: black;
  
}

.player-content {
    display:flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
    gap: 20px;
    color:  black;
}

.player-card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    --backdrop-filter: blur(10px); /* Adjust the px value to control the blur intensity */
    background-color: rgba(255, 149, 0, 0.101);    
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 12px;
    --padding: 20px;
    padding-top: 0px;
    color: black;
    transition: transform 0.6s;
  transform-style: preserve-3d;
  color: black;
}

.player-overall-content {
  align-self: center;

    padding: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.player-overall-value {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color:black;
    font-size: 24px;

}

.player-position-content {
    align-self: center;
    padding: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}

.player-position-value {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:darkgreen;
    border-radius: 50px;
    background-color: darkgreen;
   font-size: 24px;
  }

.item-text {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.card-container {
  perspective: 1000px; /* Gives a 3D effect */
  width: 70%;
  overflow: hidden;
  justify-content: space-between;
  border-width: 0;
 
}


  .player-card.flip {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side of the flip */
  }
  
  .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

body {
  background-color: #fff;
}


.metric-container {
  align-self: center;
  --margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* This will create 2 columns */
  gap: 15px;
  justify-content: flex-start;
  position: relative; /* Needed for absolute positioning of the pseudo-element */
}

.metric-item {
  color: black;
  font-size: 20px;
  font-weight: 600;
  --align-self: center; /* Aligns items at the start of their cell */
}

.name-container {
  text-align: center;
  align-self: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  --padding: 15px;
  width: 100%;
  background-color:rgb(236, 27, 177);
  --display: flex;
  flex: 1;
  display: flex;
  --flex: 1;
  --width: max-content;
  font-size: 30;
  font-weight: 600;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.player-name {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  --padding: 15px;
  width: 100%;
  background-color:rgb(160, 51, 0);
  --display: flex;
  flex: 1;
  display: flex;
  --flex: 1;
  --width: max-content;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.player-lg {
  font-weight:200;
}
.player-lg::before {
  content: "";
  display: inline-block;
  width: 8px; /* Adjust the width of the space */
}

.player-image {
  width: auto;
  height: 100px;
  align-self: flex-end;
  margin-bottom: 10px;
  border-radius: 20px;
}

.player-overall-value {
  position: relative;
  width: 50px; /* Ensure the width and height are equal for a perfect circle */
  height: 50px;
  padding: 4px;
  border-width: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: transparent;
}

.player-overall-value1 {
  position: relative;
  width: 50px; /* Ensure the width and height are equal for a perfect circle */
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  transform: rotateY(180deg)
}

.player-overall-value::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
  z-index: 0;
--transform: rotateY(180deg);
  --backface-visibility: hidden;
}

.player-overall-value > * {
  position: relative;
  
  z-index: 1;
}

select {
  color: white;
  background-color: rgb(155, 19, 19);
  padding: 10px;
  border-width: 0;;
  border-radius: 5px;
  margin-top: 20px;
  width: 10%;
  align-self: center;
}

select:focus {
  outline: none; /* Optional: Removes the default focus outline */
}


option {
  color: black;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
}

option:focus {
  outline: none; /* Optional: Removes the default focus outline */
}

@media screen and (max-width: 500px) {
  
  .player-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .metric-container {
    display: grid !important;
    
    --grid-template-columns: repeat(2, 1fr); /* Creates 4 columns */
    grid-template-rows: repeat(2, 1fr);
  }

  .player-image {
    width: auto;
    height: 200px;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .position-filter-dropdown{
    --width: 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
  }

  .player-position-content {
    margin-top: 0;
    padding-top: 0;
  }

  .player-overall-content {
    margin-top: 0;
    padding-top: 0;
  }

  .dashboard-title {
    flex-direction: column;
  }

  
}