.dashboard-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    --justify-content: center;
    background-color: #1D1D20;
    color:white;
}

.search-bar {
    margin-top: 20px;
    align-self: center;
    text-align: center;
    width: 30%;
    background-color: rgba(169, 169, 169, 0.2);
    border-width: 0;
    border-radius: 12px;
    padding: 10px;
    color:white;
    font-size: 19px;
}

.search-bar:focus {
  outline: none; /* Optional: Removes the default focus outline */
}

.dashboard-title {
    --background-color: grey;;
    margin-top: 20px;
    border-width: 1px;
    border-color: white;
    font-size: 23px;
    border-style: solid;
    padding: 20px;
    width: 30%;
    border-radius: 10px
}

.player-list {
  display: flex;
  flex-direction: column;
    margin-top: 50px;
   /* Create 4 rows of equal height */
  gap: 10px;
  border-style: dotted;
  border-width: 1px;
  border-color: black;
  align-items: center;
  justify-content: center;
  place-items: center;
  
}

.player-content {
    display:flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
    gap: 20px
}

.player-card {
    display: flex;
    flex-direction: column;
    --backdrop-filter: blur(10px); /* Adjust the px value to control the blur intensity */
    background-color: rgba(169, 169, 169);    
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 12px;
    --padding: 20px;
    padding-top: 0px;
    color:white;
    transition: transform 0.6s;
  transform-style: preserve-3d;
}

.player-overall-content {
  align-self: center;

    padding: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.player-overall-value {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color:black;
    font-size: 24px;

}

.player-position-content {
    align-self: center;
    padding: 5px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}

.player-position-value {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:darkgreen;
    border-radius: 50px;
    background-color: darkgreen;
   font-size: 24px;
  }

.item-text {
  font-size: 24px;
  font-weight: 600;
}

.card-container {
    perspective: 1000px; /* Gives a 3D effect */
  }

  .player-card.flip {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side of the flip */
  }
  
  .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

body {
    background-color: #1D1D20;
}


.metric-container {
  align-self: center;
  --margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* This will create 2 columns */
  gap: 15px;
  justify-content: flex-start;
  position: relative; /* Needed for absolute positioning of the pseudo-element */
}

/*.metric-container::after {
  content: "";
  position: absolute;
  left: 50%; /* Position the line in the middle 
  transform: translateX(-50%); /* Center the line exactly 
  top: 0;
  bottom: 0;
  width: 2px; /* Width of the Y-axis line 
  background-color: #ccc; /* Color of the Y-axis line 
}*/

.metric-item {
  color: rgba(255, 255, 255, 0.841);
  font-size: 20px;
  font-weight: 600;
  --align-self: center; /* Aligns items at the start of their cell */
}

.name-container {
  text-align: center;
  align-self: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  --padding: 15px;
  width: 100%;
  background-color:rgb(161, 161, 154);
  --display: flex;
  flex: 1;
  display: flex;
  --flex: 1;
  --width: max-content;
  font-size: 30;
  font-weight: 600;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.player-name {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  --padding: 15px;
  width: 100%;
  background-color:rgb(142, 142, 136);
  --display: flex;
  flex: 1;
  display: flex;
  --flex: 1;
  --width: max-content;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.player-lg {
  font-weight:200;
}
.player-lg::before {
  content: "";
  display: inline-block;
  width: 8px; /* Adjust the width of the space */
}

.player-image {
  width: auto;
  height: 100px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.player-overall-value {
  position: relative;
  width: 50px; /* Ensure the width and height are equal for a perfect circle */
  height: 50px;
  padding: 4px;
  border-width: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: transparent;
}

.player-overall-value1 {
  position: relative;
  width: 50px; /* Ensure the width and height are equal for a perfect circle */
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  transform: rotateY(180deg)
}

.player-overall-value::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
  z-index: 0;
--transform: rotateY(180deg);
  --backface-visibility: hidden;
}

.player-overall-value > * {
  position: relative;
  
  z-index: 1;
}